body {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .container {
      max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*=========header==========*/

.header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  padding: 16px 0;
}
.nav-list {
  display: none;
}
.studio {
  color: #2e2f42;
}

.header-menu-item:hover,
.header-menu-item:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media screen and (min-width:768px) {
.open-menu-btn {
  display: none;
}
.header-logo {
      margin-right: 120px;
    }
.nav-list {
           display: flex;
           gap: 40px;
         }
.header-menu-item {
          color: #2e2f42;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.02em;
          padding-top: 24px;
          padding-bottom: 24px;
          display: block;
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
.header-menu-item:hover,
.header-menu-item:focus {
          color: #404bbf;
        }
        .current {
          position: relative;
          color: #404bbf;
        }
        .current::after {
          content: "";
          width: 100%;
          height: 4px;
          background-color: #404BBF;
          border-radius: 2px;
          bottom: -1px;
          left: 0;
          position: absolute;
        }
.address {
   display: block;
  }
.address-list {
display: flex;
flex-direction: column;
gap: 12px;
} 
.address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width:1158px) {
  .header-logo {
      margin-right: 76px;
    }
 .address-list {
   flex-direction: row;
   gap: 40px;
 }
 .address-link {
   font-size: 16px;
   line-height: 1.5;
  }
}

/*===mob-menu===*/

.mob-menu {
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  overflow: auto;
}
.mob-close {
  display: flex;
  margin-bottom: 24px;
  background-color: #E7E9FC;
  padding: 0;
    margin-left: auto;
    fill: #2E2F42;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #0000001A;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-close:hover,
.mob-close:focus {
  background-color: #404BBF;
  border: none;
}
.mob-close:hover>.mob-close-icon,
.mob-close:focus>.mob-close-icon {
  fill: #FFFFFF;
}
.mob-studio-item:not(:last-child) {
margin-bottom: 40px;
}
.mob-menu-link {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: left;
      color: #2E2F42;
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}

.mob-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-address {
  font-style: normal;
  margin-bottom: 48px;
}

.mob-link {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.mob-link:hover,
.mob-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.mob-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/*=========main==========*/


/*========section1==========*/

.hero { 
  background-image: 
  linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), 
  url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi), 
(min-resolution: 2dppx) {
  .hero {
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-mob2.jpg);
  }
}

.hero {
 padding: 72px 0;
}
.title {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.01;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: auto;
  margin-bottom: 72px;
 
}
.btn {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  gap: 10px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width:768px) {
.title {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 36px;
  max-width: 496px;
}
.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)),
    url(../images/people-office-tab.jpg);
  }
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
.hero {
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-tab2.jpg);
      }
    }
}
@media screen and (min-width:1158px) {
.title {
    margin-bottom: 48px;
  }
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image:
  linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
  url(../images/people-office.jpg);
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office2.jpg);
  }
}
}


/*========section2==========*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.text-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.title-list {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.01;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.item {
  width: 100%;
}
.title-list-item {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item-icon {
  display: none;
}

@media screen and (min-width:768px) {
.title-list-item {
  margin-bottom: 0;
}
.item {
 width: calc((100% - 24px) / 2);
}
.container-list {
  gap: 72px 24px;
}
.title-list {
   font-size: 36px;
   line-height: 1.2;
   text-align: left;
   }
}

@media screen and (min-width:1158px) {
  .item-icon {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
    background: #f4f4fd;
  }
    .item {
      width: calc((100% - 72px) / 4);
    }
    .title-list-item {
    font-weight: 400;
  }
.title-list {
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  font-weight: 500;
 } 
 .text-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
}

/*========section3==========*/

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.icons-item {
  width: 40px;
  height: 40px;
}
.icons-linc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-linc:hover {
  background-color: #404BBF
}
.icons-linc:focus {
  background-color: #404bbf;
}
.icons-icon {
  fill: #f4f4fd;
}
.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 24px;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-fon {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}

.title-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-profesion {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
 .container-list {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

/*========section4==========*/

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.programs {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.name-profesion {
  padding-top: 32px;
  padding-bottom: 32px;
}
.list-programs {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-programs:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.sellers-cover-wrap:hover .sellers-cover-text {
  transform: translateY(0%);
}
.name-program {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.title-list-portfolio {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}
.sellers-cover-wrap {
position: relative;
overflow: hidden;
}
.sellers-cover-text {
  position: absolute;
  font-size: 16px;
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
.container-list {
     flex-direction: row;
     justify-content: center;
    }
.team-fon {
    width: calc((100% - 24px) / 2);
    width: 264px;
    gap: 64px 24px;
    margin-bottom: 0;
  }
.list-programs {
    width: calc((100% - 24px) / 2);
    gap: 72px 24px;
    }
}


@media screen and (min-width:1158px) {
.team-fon {
  width: calc((100% - 72px) / 4);
  margin-bottom: 0;
  }
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-programs {
  width: calc((100% - 48px) / 3);
}
}

/*=========footer==========*/
.footer {
  flex-shrink: 0;
  background: #2e2f42;
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  align-items: center;
  justify-content: center;
}
.web-footer {
  margin-bottom: 72px;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo {
  display: flex;
  width: 115px;
  height: 24px;
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.footer-web-soc {
  margin-bottom: 72px;
}
.icons-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.soc-media {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
background-color: #31D0AA;
}

.footer-link:focus {
  background-color: #31D0AA;
}
.footer-sub-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  justify-content: center;
}
.footer-input {
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
}
.footer-input::placeholder {
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.button-icon {
color: #FFFFFF;
left: 16px;
margin-left: 16px;
}

@media screen and (min-width:768px) {
  .web-footer {
    margin-bottom: 0;
  }
.footer-logo {
      margin-left: 0;
      justify-content: left;
    }
.footer-web-soc {
      display: flex;
      align-items: baseline;
      margin-bottom: 0;
    }
.footer-form {
    display: flex;
    gap: 24px;
  }
.footer-soc {
  display: block;
  align-items: center;
  flex-direction: column;
  margin-left: 24px;
  margin-bottom: 104px;
  }
.soc-media {
    text-align: left;
  }
.footer-sub-text {
      text-align: left;
    }
.footer-input {
    margin-bottom: 0;
  }
.footer-btn {
    margin-left: 0;
  }
}
@media screen and (min-width:1158px) {
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-text {
  margin-right: 120px;
}
.footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-soc {
  margin-right: 80px;
  margin-bottom: 0;
  margin-left: 0;
}
.footer-text {
  margin-bottom: 0;
}
}


/*=========modal==========*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0.2, 0, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  background-color: #FCFCFC;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  fill: #2E2F42;
  width: 24px;
  height: 24px;
  background-color: #E7E9FC;
  border-radius: 50%;
  border: 1px solid #0000001A;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-close:hover,
.modal-close:focus {
  background-color: #404BBF;
  border: none;
}
.modal-close:hover > .modal-close-icon,
.modal-close:focus > .modal-close-icon {
fill: #FFFFFF;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  margin-bottom: 16px;
}
.modal-field {
margin-bottom: 8px;
}
.modal-field-comment {
  margin-bottom: 16px;
}

.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2E2F4266;
  border-radius: 4px;
  padding-left: 38px;
  font-size: 18px;
  transition-duration: 300ms;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
  fill: #4D5AE5;
}
.modal-close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8E8F99;
}
.modal-icon {
  width: 18px;
  height: 24px;
fill: #2E2F42;
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition-duration: 300ms;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 0.4);
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid #2E2F4266;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    background-color: transparent;
    outline: transparent;
}
.modal-textarea:placeholder {
  color: #2E2F4266;
  font-size: 12px, 0;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
}
.modal-textarea:focus {
  border-color: #4D5AE5;
}
.modal-button {
  background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    gap: 10px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F, 0px 2px 1px 0px #00000033;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.form-checkbox {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1 solid #8E8F99;
}
.checkbox-text {
  color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
}
.check-link {
  margin-left: 4px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-align: left;
}
.checkbox-text a {
color: #4D5AE5;
}
.modal-span {
  width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #2E2F4266;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked +.checkbox-text .modal-span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

@media screen and (min-width:768px) {
.modal {
    width: 408px;
    min-height: 584px;
  }
}
@media screen and (min-width:1158px){
 
}